# Ignore lifetime scripts (preinstall, postinstall, etc.) when running default npm/pnpm commands
ignore-scripts=true

# Skip install of optional dependencies
optional=false

# Delay package adoption to give the community time to flag malicious or broken versions.
minimumReleaseAge=10080  # 10080m = 7d

# Install in priority from pnpm-lock.yaml.
# Fail over conflicts to force updating the lockfile separately.
prefer-frozen-lockfile=true
# Fail over conflicts between third-party dependencies.
strict-peer-dependencies=true

# Set exact version for dependencies (X.Y.Z instead of ^X.Y.Z in package.json)
save-exact=true
